body {
    background-color: rgb(243, 243, 243);
    margin: 0px !important;
}

nav {
    background-color: white;
    padding: 8px !important;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center !important;
}

.nav-title {
    margin-right: 10px;
    max-height: 90px !important;
    font-size: 40px;
    width: 15%;
}

#title {
    margin: 0px !important;
}

.nav-bar {
    display: flex;
    max-height: 90px !important;
    width: 85%;
    justify-content: end !important;
}

.nav-link {
    font-size: 25px;
    margin-right: 10px;
}

.about {
    display: flex;
    justify-content: center;
}

.about-me {
    display: inline-block;
    align-content: center;
    margin-top: 25px;
    padding: 35px;
    background-color: white;
    width: 25%;
    height: 300px;
}

#about-img {
    display: block;
    height: 300px;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
}

#about-title {
    font-size: 2em !important;
}

.about-text {
    font-size: 1.25em;
}

.contact {
    display: flex;
    justify-content: center;
    max-height: 150px;
    background-color: rgb(54, 54, 54);
    width: 52.3%;
    margin: auto;
}

.contact-text {
    font-size: 1.25em;
    margin-right: 50px;
    margin-top: 15px;
    color: white;
}

.portfolio {
    display: flex;
    justify-content: center;
}

.portfolio-text-block {
    display: inline-block;
    align-content: center;
    padding: 25px;
    background-color: white;
    width: 35%;
    height: 450px;
}

.portfolio-img-block {
    display: inline-block;
    align-content: center;
    padding: 25px;
    background-color: black;
    width: 30%;
    height: 450px;
}

.portfolio-img {
    display: block;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.portfolio-title {
    font-size: 2em;
    margin-top: 3px;
}

.portfolio-text {
    font-size: 1.25em;
}

.portfolio-link {
    font-size: 1.25em;
}

footer {
    margin-top: 25px;
    background-color: black;
    color: white;
    font-size: 1.05em;
}

footer h3 {
    margin: 0px !important;
    font-size: 1.25em;
}

.footer-block {
    display: flex;
    justify-content: center;
}

.footer-section {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
}