body {
    background-color: rgb(243, 243, 243);
    margin: 0px !important;
}

nav {
    background-color: white;
    padding: 8px !important;
    display: flex;
    align-items: center;
}

.nav-title {
    margin-right: 10px;
    max-height: 90px !important;
    font-size: 40px;
    width: 15%;
}

#title {
    margin: 0px !important;
}

.nav-bar {
    display: flex;
    max-height: 90px !important;
    width: 85%;
    justify-content: end !important;
}

.nav-link {
    font-size: 25px;
    margin-right: 10px;
}