body {
    background-color: rgb(243, 243, 243);
    margin: 0px !important;
}

nav {
    background-color: white;
    padding: 8px !important;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

a {
    color: white !important;
}

nav a {
    color: black !important;
}

.text-center {
    text-align: center !important;
}

.nav-title {
    margin-right: 10px;
    max-height: 90px !important;
    font-size: 40px;
    width: 15%;
}

#title {
    margin: 0px !important;
}

.nav-bar {
    display: flex;
    max-height: 90px !important;
    width: 85%;
    justify-content: end !important;
}

.nav-link {
    font-size: 25px;
    margin-right: 10px;
}

.about {
    display: flex;
    justify-content: center;
}

.about-me {
    display: inline-block;
    align-content: center;
    margin-top: 25px;
    padding: 35px;
    background-color: white;
    width: 25%;
    height: 300px;
}

#about-img {
    display: block;
    height: 300px;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
}

#about-title {
    font-size: 2em !important;
}

.about-text {
    font-size: 1.25em;
}

.contact {
    display: flex;
    justify-content: center;
    max-height: 150px;
    background-color: rgb(54, 54, 54);
    width: 52.3%;
    margin: auto;
}

.contact-text {
    font-size: 1.25em;
    margin-right: 50px;
    margin-top: 15px;
    color: white;
}

.portfolio {
    display: flex;
    justify-content: center;
}

.portfolio-text-block {
    display: inline-block;
    align-content: center;
    padding: 25px;
    background-color: white;
    width: 35%;
    height: 450px;
}

.portfolio-img-block {
    display: inline-block;
    align-content: center;
    padding: 25px;
    background-color: black;
    width: 30%;
    height: 450px;
}

.portfolio-img {
    display: block;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.portfolio-title {
    font-size: 2em;
    margin-top: 3px;
}

.portfolio-text {
    font-size: 1.25em;
}

.portfolio-link {
    font-size: 1.25em;
    color: black !important;
}

footer {
    margin-top: 25px;
    background-color: black;
    color: white;
    font-size: 1.05em;
}

footer h3 {
    margin: 0px !important;
    font-size: 1.25em;
}

.footer-block {
    display: flex;
    justify-content: center;
}

.footer-section {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
}

/* Responsive Breakpoints */

@media (max-width: 1441px) {
    .nav-title {
        width: 35%;
    }

    .portfolio-img-block {
        width: 40%;
    }
    
    .portfolio-img {
        width: 500px;
    }

    .about-me {
        margin-top: 15px;
        padding: 15px;
        width: 40%;
        height: 300px;
    }

    .contact {
        width: 64.2%;
    }
    
    .contact-text {
        font-size: 18px;
    }
}

@media (max-width: 1025px) {
    .portfolio-img-block {
        width: 50%;
    }
    
    #about-scroll {
        overflow: auto;
    }

    .contact {
        width: 65.8%;
    }
    
    .contact-text {
        font-size: 17px;
    }
}

@media (max-width: 769px) {
    .nav-title {
        font-size: 30px;
        width: 25%;
    }

    .portfolio-text-block {
        width: 40%;
        height: 350px;
        overflow: auto;
    }
    
    .portfolio-img-block {
        width: 50%;
        height: 350px;
    }
    
    .portfolio-img {
        width: 375px;
        height: 350px;
    }

    .about-me {
        margin-top: 15px;
        padding: 15px;
        width: 55%;
        height: 250px;
    }

    #about-img {
        width: 150px;
        height: 250px;
    }
    
    #about-title {
        font-size: 1.4em !important;
        margin-top: 2px !important;
    }
    
    .about-text {
        font-size: 18px;
    }

    .contact {
        max-height: 150px;
        background-color: rgb(54, 54, 54);
        width: 82.8%;
        margin: auto;
    }
    
    .contact-text {
        font-size: 15px;
        margin-right: 10px;
        margin-top: 15px;
        color: white;
    }

    footer {
        font-size: 12px;
    }
    
    footer h3 {
        font-size: 17px;
    }
    
    .footer-section {
        margin-right: 10px;
        margin-left: 5px;
        width: 25%;
    }
}

@media (max-width: 426px) {
    .nav-title {
        font-size: 17.5px;
        width: 25%;
    }

    .nav-bar {
        width: 75%;
    }
    
    .nav-link {
        font-size: 15px;
    }

    .portfolio-text-block {
        padding: 10px;
        background-color: white;
        width: 40% !important;
        height: 250px;
        overflow: auto;
    }
    
    .portfolio-img-block {
        padding: 10px;
        width: 50% !important;
        height: 250px;
    }
    
    .portfolio-img {
        height: 250px;
        width: 200px;
    }
    
    .portfolio-title {
        font-size: 1.2em;
        margin-top: 3px;
    }
    
    .portfolio-text {
        font-size: 12.5px;
    }
    
    .portfolio-link {
        font-size: 15px;
    }

    .about-me {
        margin-top: 15px;
        padding: 15px;
        width: 65%;
        height: 200px;
    }

    #about-scroll {
        overflow: auto;
    }

    #about-img {
        width: 90px;
        height: 200px;
    }
    
    #about-title {
        font-size: 1.25em !important;
        margin-top: 2px !important;
    }
    
    .about-text {
        font-size: 15px;
    }
    
    .contact {
        max-height: 150px;
        background-color: rgb(54, 54, 54);
        width: 99%;
        margin: auto;
    }
    
    .contact-text {
        font-size: 12.5px;
        margin-right: 10px;
        margin-top: 15px;
        color: white;
    }

    footer {
        font-size: 10px;
    }

    footer ul {
        padding-left: 10px;
        padding-right: 5px;
    }
    
    footer h3 {
        font-size: 15px;
    }
    
    .footer-section {
        margin-right: 10px;
        width: 25%;
    }
}